{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<div class="">
    <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 mx-lg-auto mx-md-auto mt-5 text-center" >
        <div class="modal-body p-0 contact_info_section h-25 " >
            <div class="contact_info_form_content" style="padding-top: 30px;">
                <div class="container-fluid">
                    <div style="padding: 0px;">
                        <div class="d-flex mb-2">
                            <h6>Reset Password</h6>
                        </div>
                        <!-- <p class="text-size-18">We will get back to you soon.</p> -->
                        <form id="staffpage" method="post" style="position:relative;z-index: 1;" >
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group mb-0">
                                        {{ form.email | add_placeholder:"Email" }} <!-- Render the email field -->
                                        {% if form.email.errors %}
                                            <div class="error">{{ form.email.errors }}</div> 
                                        {% endif %}
                                    </div>
                                </div>
                            <div class="btn_wrapper mx-3">
                                <button type="submit" class="default-btn">Send Password Reset Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>

{% endblock %}