
{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<div class="">
    <div class="modal-body p-0 contact_info_section h-25 w-25 mx-auto">
        <div class="contact_info_form_content" style="padding-top: 30px;">
            <div class="container-fluid">
                <div style="padding: 0px;">
                    <div class="d-flex mb-2">
                        <h6>Reset Password</h6>
                    </div>
                    <!-- <p class="text-size-18">We will get back to you soon.</p> -->
                    <form id="staffpage" method="post" style="position:relative;z-index: 1;">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group mb-0">
                                    {{ form.new_password1 | add_placeholder:"Password"}} <!-- Render the email field -->
                                    {% if form.new_password1.errors %}
                                        <div class="error">{{ form.new_password1.errors }}</div> 
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group mb-0">
                                    {{ form.new_password2  | add_placeholder:"Confirm Password"}} <!-- Render the email field -->
                                    {% if form.new_password2.errors %}
                                        <div class="error">{{ form.new_password2.errors }}</div> 
                                    {% endif %}
                                </div>
                            </div>
                        <div class="mx-3 w-100">
                            <button type="submit" class="default-btn" >Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}