<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>About | Barks & Beans</title>
        <link rel="icon" type="image/x-icon" href="{% static '/images/favicon/BB_Favicon.ico' %}">
        <link rel="stylesheet"  href="{% static 'bootstrap/bootstrap.min.css' %} ">
        <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %} ">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link href="{% static 'css/style.css' %} " rel="stylesheet" type="text/css">
        <link href="{% static 'css/my_style.css' %} " rel="stylesheet" type="text/css">
        <link href="{% static 'css/mediaqueries.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
    </head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KWX99YCVES"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KWX99YCVES');
</script>

    <body>
        <a  class="whats-app" href="http://surl.li/qhtydo" target="_blank">            
            <img src="{% static 'images/navbar_whatsapp_img.png' %}" alt="" class="img-fluid hover-effect">            
        </a>
        <div class="banner-section-outer">
            {% include 'header.html' %}
            <section class="banner-section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="text-lg-left text-center">
                            <div class="banner-section-content">
                                
                            </div>
                            <br><br>
                            
                        </div>
                        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                            <!--<div class="banner-section-image position-relative">-->
                            <div class="banner-section-content">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Latest compiled JavaScript -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/counter.js' %}"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/video-popup.js' %}"></script>
<script src="{% static 'js/video-section.js' %}"></script>
<script src="{% static 'js/remove-product.js' %}"></script>
</body>
</html>
